.modal__wrap {
  width: 360px;
  @media screen and (max-width: 675px) {
    width: auto;
    
  }
  .select {
    > div {
      gap: 10px;
      > div {
        width: 100%;

        > div:nth-child(2) {
          height: 40px;
        }
      }
    }
  }
}
