@font-face {
  font-family: 'Minecraft';
  src: url('./assets/fonts/minecraft.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Minecraft', sans-serif;
}
